function Game.new 0
push constant 12
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 1
pop this 8
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Solver.dispose 1
pop temp 0
label IF_FALSE0
push this 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Board.dispose 1
pop temp 0
label IF_FALSE1
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.initLevel 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Solver.dispose 1
pop temp 0
label IF_FALSE0
push this 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Board.dispose 1
pop temp 0
label IF_FALSE1
push argument 1
pop this 8
push argument 1
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 9
push constant 9
push constant 10
call Board.new 3
pop this 0
push constant 4
pop this 2
push constant 4
pop this 3
goto IF_END2
label IF_FALSE2
push argument 1
push constant 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 16
push constant 10
push constant 25
call Board.new 3
pop this 0
push constant 8
pop this 2
push constant 5
pop this 3
goto IF_END3
label IF_FALSE3
push argument 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 20
push constant 10
push constant 44
call Board.new 3
pop this 0
push constant 10
pop this 2
push constant 5
pop this 3
goto IF_END4
label IF_FALSE4
call Board.newDemo 0
pop this 0
push constant 8
pop this 2
push constant 5
pop this 3
label IF_END4
label IF_END3
label IF_END2
push this 0
call Solver.new 1
pop this 1
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
return
function Game.resetCurrent 0
push argument 0
pop pointer 0
push this 8
push constant 5
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 9
push this 10
push this 11
call Game.startCustomBoard 4
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push this 8
call Game.initLevel 2
pop temp 0
label IF_END0
push constant 0
return
function Game.startCustomLevel 5
push argument 0
pop pointer 0
push constant 0
pop local 4
label WHILE_EXP0
push local 4
not
not
if-goto WHILE_END0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.drawCustomPromptScreen 1
pop temp 0
push constant 8
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push constant 10
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
push local 0
push constant 3
lt
push local 0
push constant 20
gt
or
push local 1
push constant 3
lt
or
push local 1
push constant 10
gt
or
push local 0
push local 1
call Math.multiply 2
push constant 11
lt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 15
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 50
call String.new 1
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 89
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call Game.waitForAnyKey 1
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push local 1
call Math.multiply 2
push constant 10
sub
pop local 3
push constant 12
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 3
call Output.printInt 1
pop temp 0
push constant 3
call String.new 1
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
call String.new 1
call Keyboard.readInt 1
pop local 2
push local 2
push constant 1
lt
push local 2
push local 3
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 15
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 44
call String.new 1
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 89
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call Game.waitForAnyKey 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
not
pop local 4
label IF_END1
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push local 0
push local 1
push local 2
call Game.startCustomBoard 4
pop temp 0
push constant 0
return
function Game.drawCustomPromptScreen 0
push argument 0
pop pointer 0
push constant 2
push constant 10
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 67
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 80
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 4
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 49
call String.new 1
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 39
call String.new 1
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Game.waitForAnyKey 0
push argument 0
pop pointer 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto WHILE_END0
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END1
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Game.startCustomBoard 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Solver.dispose 1
pop temp 0
label IF_FALSE0
push this 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Board.dispose 1
pop temp 0
label IF_FALSE1
push constant 5
pop this 8
push argument 1
pop this 9
push argument 2
pop this 10
push argument 3
pop this 11
push argument 1
push argument 2
push argument 3
call Board.new 3
pop this 0
push argument 1
push constant 2
call Math.divide 2
pop this 2
push argument 2
push constant 2
call Math.divide 2
pop this 3
push this 0
call Solver.new 1
pop this 1
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
return
function Game.selectLevelMenu 1
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.drawMenuScreen 1
pop temp 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END0
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push constant 0
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 49
eq
push local 0
push constant 69
eq
or
push local 0
push constant 101
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP2
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END2
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
push constant 1
return
label IF_FALSE0
push local 0
push constant 50
eq
push local 0
push constant 77
eq
or
push local 0
push constant 109
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP3
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END3
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP3
label WHILE_END3
push constant 2
return
label IF_FALSE1
push local 0
push constant 51
eq
push local 0
push constant 72
eq
or
push local 0
push constant 104
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label WHILE_EXP4
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END4
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP4
label WHILE_END4
push constant 3
return
label IF_FALSE2
push local 0
push constant 68
eq
push local 0
push constant 100
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
label WHILE_EXP5
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END5
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP5
label WHILE_END5
push constant 4
return
label IF_FALSE3
push local 0
push constant 67
eq
push local 0
push constant 99
eq
or
push local 0
push constant 52
eq
or
push local 0
push constant 53
eq
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
label WHILE_EXP6
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END6
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP6
label WHILE_END6
push constant 5
return
label IF_FALSE4
push local 0
push constant 81
eq
push local 0
push constant 113
eq
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
label WHILE_EXP7
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END7
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP7
label WHILE_END7
push constant 0
return
label IF_FALSE5
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Game.drawMenuScreen 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 16
push constant 10
push constant 495
push constant 250
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 19
push constant 13
push constant 492
push constant 247
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 40
push constant 20
push constant 471
push constant 52
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 43
push constant 23
push constant 468
push constant 49
call Screen.drawRectangle 4
pop temp 0
push constant 3
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 19
call String.new 1
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 6
push constant 19
call Output.moveCursor 2
pop temp 0
push constant 24
call String.new 1
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 55
push constant 84
push constant 456
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 57
push constant 86
push constant 454
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 8
push constant 9
call Output.moveCursor 2
pop temp 0
push constant 38
call String.new 1
push constant 91
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 55
push constant 114
push constant 456
push constant 136
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 57
push constant 116
push constant 454
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 11
push constant 9
call Output.moveCursor 2
pop temp 0
push constant 38
call String.new 1
push constant 91
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 55
push constant 144
push constant 456
push constant 166
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 57
push constant 146
push constant 454
push constant 164
call Screen.drawRectangle 4
pop temp 0
push constant 14
push constant 9
call Output.moveCursor 2
pop temp 0
push constant 38
call String.new 1
push constant 91
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 55
push constant 174
push constant 456
push constant 196
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 57
push constant 176
push constant 454
push constant 194
call Screen.drawRectangle 4
pop temp 0
push constant 17
push constant 9
call Output.moveCursor 2
pop temp 0
push constant 42
call String.new 1
push constant 91
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 55
push constant 204
push constant 456
push constant 226
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 57
push constant 206
push constant 454
push constant 224
call Screen.drawRectangle 4
pop temp 0
push constant 19
push constant 9
call Output.moveCursor 2
pop temp 0
push constant 39
call String.new 1
push constant 91
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 21
push constant 10
call Output.moveCursor 2
pop temp 0
push constant 47
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push pointer 0
call Game.selectLevelMenu 1
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
goto IF_END0
label IF_FALSE0
push local 1
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.startDemo 1
pop temp 0
push pointer 0
call Game.gameLoop 1
pop local 0
goto IF_END1
label IF_FALSE1
push local 1
push constant 5
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Game.startCustomLevel 1
pop temp 0
push pointer 0
call Game.gameLoop 1
pop local 0
goto IF_END2
label IF_FALSE2
push pointer 0
push local 1
call Game.initLevel 2
pop temp 0
push pointer 0
call Game.gameLoop 1
pop local 0
label IF_END2
label IF_END1
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.gameLoop 5
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 0
pop local 4
push constant 0
pop local 1
push pointer 0
call Game.fullDraw 1
pop temp 0
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
goto IF_END0
label IF_FALSE0
push local 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
pop local 1
push local 0
push constant 81
eq
push local 0
push constant 113
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 3
push constant 0
not
pop local 4
goto IF_END2
label IF_FALSE2
push local 0
push constant 76
eq
push local 0
push constant 108
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 3
push constant 0
pop local 4
goto IF_END3
label IF_FALSE3
push local 0
push constant 82
eq
push local 0
push constant 114
eq
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Game.resetCurrent 1
pop temp 0
push pointer 0
call Game.fullDraw 1
pop temp 0
goto IF_END4
label IF_FALSE4
push local 0
push constant 68
eq
push local 0
push constant 100
eq
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Game.startDemo 1
pop temp 0
goto IF_END5
label IF_FALSE5
push this 4
not
push this 0
call Board.gameWon 1
not
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 130
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push constant 1
sub
push constant 0
call Math.max 2
pop this 2
label IF_FALSE7
push local 0
push constant 131
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 3
push constant 1
sub
push constant 0
call Math.max 2
pop this 3
label IF_FALSE8
push local 0
push constant 132
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 2
push constant 1
add
push this 0
call Board.getWidth 1
push constant 1
sub
call Math.min 2
pop this 2
label IF_FALSE9
push local 0
push constant 133
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 3
push constant 1
add
push this 0
call Board.getHeight 1
push constant 1
sub
call Math.min 2
pop this 3
label IF_FALSE10
push local 0
push constant 70
eq
push local 0
push constant 102
eq
or
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 0
push this 2
push this 3
call Board.flag 3
pop temp 0
label IF_FALSE11
push local 0
push constant 32
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
call Game.startTimer 1
pop temp 0
push this 0
push this 2
push this 3
call Board.reveal 3
pop this 4
label IF_FALSE12
push local 0
push constant 72
eq
push local 0
push constant 104
eq
or
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
call Game.startTimer 1
pop temp 0
push this 0
call Board.giveHint 1
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 0
call Board.getHintX 1
pop this 2
push this 0
call Board.getHintY 1
pop this 3
label IF_FALSE14
label IF_FALSE13
push local 0
push constant 83
eq
push local 0
push constant 115
eq
or
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push pointer 0
call Game.startTimer 1
pop temp 0
push this 1
call Solver.solveStep 1
pop local 2
push local 2
push constant 1
neg
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push constant 0
not
pop this 4
label IF_FALSE16
label IF_FALSE15
push local 0
push constant 65
eq
push local 0
push constant 97
eq
or
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push pointer 0
call Game.startTimer 1
pop temp 0
push pointer 0
call Game.autoSolve 1
pop temp 0
label IF_FALSE17
push this 4
push this 0
call Board.gameWon 1
or
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push constant 0
pop this 5
label IF_FALSE18
push pointer 0
call Game.draw 1
pop temp 0
label IF_FALSE6
label IF_END5
label IF_END4
label IF_END3
label IF_END2
label IF_FALSE1
label IF_END0
push this 5
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push constant 50
call Sys.wait 1
pop temp 0
push pointer 0
push constant 1
call Game.addTimerTicks 2
pop temp 0
goto IF_END19
label IF_FALSE19
push constant 10
call Sys.wait 1
pop temp 0
label IF_END19
goto WHILE_EXP0
label WHILE_END0
push local 4
return
function Game.startTimer 0
push argument 0
pop pointer 0
push this 4
not
push this 0
call Board.gameWon 1
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 5
label IF_FALSE0
push constant 0
return
function Game.addTimerTicks 0
push argument 0
pop pointer 0
push this 7
push argument 1
add
pop this 7
label WHILE_EXP0
push this 7
push constant 19
gt
not
if-goto WHILE_END0
push this 7
push constant 20
sub
pop this 7
push this 6
push constant 999
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push constant 1
add
pop this 6
label IF_FALSE0
push pointer 0
call Game.drawHud 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.startDemo 0
push argument 0
pop pointer 0
push pointer 0
push constant 4
call Game.initLevel 2
pop temp 0
push constant 0
not
pop this 5
push this 0
push constant 8
push constant 5
call Board.reveal 3
pop this 4
push pointer 0
call Game.fullDraw 1
pop temp 0
push pointer 0
call Game.autoWaitAndCheckAction 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Game.autoSolve 1
pop temp 0
push constant 0
return
function Game.autoSolve 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push pointer 0
call Game.startTimer 1
pop temp 0
label WHILE_EXP0
push this 4
not
push this 0
call Board.gameWon 1
not
and
push local 1
push constant 1000
lt
and
not
if-goto WHILE_END0
push pointer 0
call Game.checkInterruptKey 1
pop local 2
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.resetCurrent 1
pop temp 0
push pointer 0
call Game.fullDraw 1
pop temp 0
push constant 0
return
label IF_FALSE0
push local 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 5
push pointer 0
call Game.draw 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 1
call Solver.solveStep 1
pop local 0
push local 0
push constant 1
neg
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 4
label IF_FALSE2
push local 0
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 5
push pointer 0
call Game.draw 1
pop temp 0
push constant 0
return
label IF_FALSE3
push local 1
push constant 1
add
pop local 1
push pointer 0
call Game.draw 1
pop temp 0
push pointer 0
call Game.autoWaitAndCheckAction 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 5
push pointer 0
call Game.draw 1
pop temp 0
push constant 0
return
function Game.autoWaitAndCheckAction 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push pointer 0
call Game.checkInterruptKey 1
pop local 1
push local 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.resetCurrent 1
pop temp 0
push pointer 0
call Game.fullDraw 1
pop temp 0
push constant 0
not
return
label IF_FALSE0
push local 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 5
push pointer 0
call Game.draw 1
pop temp 0
push constant 0
not
return
label IF_FALSE1
push constant 10
call Sys.wait 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 2
call Game.addTimerTicks 2
pop temp 0
label IF_FALSE2
push constant 0
return
function Game.checkInterruptKey 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 82
eq
push local 0
push constant 114
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END0
push constant 1
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
return
label IF_FALSE0
push local 0
push constant 76
eq
push local 0
push constant 108
eq
or
push local 0
push constant 81
eq
or
push local 0
push constant 113
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END1
push constant 1
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 2
return
label IF_FALSE1
push constant 0
return
function Game.fullDraw 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.drawHud 1
pop temp 0
push this 0
push this 2
push this 3
push this 4
call Board.draw 4
pop temp 0
push pointer 0
call Game.drawStatus 1
pop temp 0
push constant 0
return
function Game.draw 0
push argument 0
pop pointer 0
push pointer 0
call Game.drawHud 1
pop temp 0
push this 0
push this 2
push this 3
push this 4
call Board.draw 4
pop temp 0
push pointer 0
call Game.drawStatus 1
pop temp 0
push constant 0
return
function Game.drawHud 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 38
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 18
push constant 5
push constant 157
push constant 33
call Screen.drawRectangle 4
pop temp 0
push constant 186
push constant 5
push constant 325
push constant 33
call Screen.drawRectangle 4
pop temp 0
push constant 354
push constant 5
push constant 493
push constant 33
call Screen.drawRectangle 4
pop temp 0
push constant 1
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push this 0
call Board.getMineCount 1
call Game.printThreeDigits 2
pop temp 0
push constant 1
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 70
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push this 0
call Board.getFlagCount 1
call Game.printThreeDigits 2
pop temp 0
push constant 1
push constant 46
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 84
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push this 6
call Game.printThreeDigits 2
pop temp 0
push constant 0
return
function Game.drawStatus 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 226
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 21
push constant 13
call Output.moveCursor 2
pop temp 0
push constant 40
call String.new 1
push constant 66
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
call Board.gameWon 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 21
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 42
call String.new 1
push constant 83
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE1
label IF_END0
push constant 0
return
function Game.printThreeDigits 0
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop argument 1
label IF_FALSE0
push argument 1
push constant 999
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 999
pop argument 1
label IF_FALSE1
push argument 1
push constant 100
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 48
call Output.printChar 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 10
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 48
call Output.printChar 1
pop temp 0
label IF_FALSE3
push argument 1
call Output.printInt 1
pop temp 0
push constant 0
return
