function Random.init 0
push constant 12345
pop static 0
push constant 0
return
function Random.next 0
push static 0
push constant 109
call Math.multiply 2
push constant 1021
add
pop static 0
push static 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
neg
pop static 0
label IF_FALSE0
push static 0
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 173
pop static 0
label IF_FALSE1
push static 0
return
function Random.randInt 1
push argument 1
push argument 0
sub
pop local 0
push local 0
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
call Random.next 0
push local 0
call Maths.mod 2
push argument 0
add
return
