function Board.new 1
push constant 18
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 0
push argument 1
call Math.multiply 2
pop this 2
push argument 2
pop this 3
push constant 0
pop this 4
push constant 0
not
pop this 11
push constant 1
neg
pop this 7
push constant 1
neg
pop this 8
push constant 512
push this 0
push constant 25
call Math.multiply 2
sub
push constant 2
call Math.divide 2
pop this 5
push constant 42
push constant 180
push this 1
push constant 18
call Math.multiply 2
sub
push constant 2
call Math.divide 2
add
pop this 6
push this 2
call Array.new 1
pop this 9
push this 2
call Array.new 1
pop this 10
push this 2
call Array.new 1
pop this 12
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 12
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
pop this 13
push constant 1
neg
pop this 14
push constant 1
neg
pop this 15
push constant 1
neg
pop this 16
push constant 0
pop this 17
push pointer 0
call Board.placeMines 1
pop temp 0
push pointer 0
return
function Board.newDemo 1
push constant 18
call Memory.alloc 1
pop pointer 0
push constant 16
pop this 0
push constant 10
pop this 1
push constant 160
pop this 2
push constant 25
pop this 3
push constant 0
pop this 4
push constant 0
pop this 11
push constant 1
neg
pop this 7
push constant 1
neg
pop this 8
push constant 56
pop this 5
push constant 42
pop this 6
push this 2
call Array.new 1
pop this 9
push this 2
call Array.new 1
pop this 10
push this 2
call Array.new 1
pop this 12
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 12
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
pop this 13
push constant 1
neg
pop this 14
push constant 1
neg
pop this 15
push constant 1
neg
pop this 16
push constant 0
pop this 17
push pointer 0
call Board.placeDemoMines 1
pop temp 0
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push this 9
call Array.dispose 1
pop temp 0
push this 10
call Array.dispose 1
pop temp 0
push this 12
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.getWidth 0
push argument 0
pop pointer 0
push this 0
return
function Board.getHeight 0
push argument 0
pop pointer 0
push this 1
return
function Board.getMineCount 0
push argument 0
pop pointer 0
push this 3
return
function Board.getFlagCount 0
push argument 0
pop pointer 0
push this 4
return
function Board.getHintX 0
push argument 0
pop pointer 0
push this 7
return
function Board.getHintY 0
push argument 0
pop pointer 0
push this 8
return
function Board.isInside 0
push argument 0
pop pointer 0
push argument 1
push constant 1
neg
gt
push argument 1
push this 0
lt
and
push argument 2
push constant 1
neg
gt
and
push argument 2
push this 1
lt
and
return
function Board.indexOf 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push this 0
call Math.multiply 2
add
return
function Board.getVisibleState 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Board.isInside 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call Board.indexOf 3
pop local 0
push local 0
push this 10
add
pop pointer 1
push that 0
return
function Board.isHidden 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Board.isInside 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call Board.indexOf 3
pop local 0
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
return
function Board.getVisibleNumber 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Board.isInside 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call Board.indexOf 3
pop local 0
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 1
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
return
label IF_FALSE1
push local 0
push this 9
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
return
label IF_FALSE2
push pointer 0
push argument 1
push argument 2
call Board.getAdjacentMineCount 3
return
function Board.reveal 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Board.isInside 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call Board.indexOf 3
pop local 0
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 1
eq
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 2
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push this 11
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 1
push argument 2
call Board.clearNeighborhoodMines 3
pop temp 0
push constant 0
pop this 11
label IF_FALSE2
push local 0
push this 9
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push this 10
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
return
label IF_FALSE3
push local 0
push this 10
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
call Board.expandZeros 1
pop temp 0
push constant 0
return
function Board.flag 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Board.isInside 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call Board.indexOf 3
pop local 0
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 10
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push constant 1
add
pop this 4
goto IF_END1
label IF_FALSE1
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push this 10
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push constant 1
sub
pop this 4
goto IF_END2
label IF_FALSE2
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push this 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
label IF_END2
label IF_END1
push constant 0
return
function Board.gameWon 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 1
eq
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
function Board.countUnknownCells 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Board.hasHiddenSafeNeighbor 5
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push pointer 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
push local 3
call Board.indexOf 3
pop local 4
push local 4
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 4
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
push local 4
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.countHiddenSafeNeighbors 6
push argument 0
pop pointer 0
push constant 0
pop local 5
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push pointer 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
push local 3
call Board.indexOf 3
pop local 4
push local 4
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 4
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
push local 4
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
push constant 1
add
pop local 5
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 5
return
function Board.getNthHiddenSafeNeighbor 6
push argument 0
pop pointer 0
push constant 0
pop local 5
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push pointer 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
push local 3
call Board.indexOf 3
pop local 4
push local 4
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 4
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
push local 4
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
push argument 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
return
label IF_FALSE3
push local 5
push constant 1
add
pop local 5
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
return
function Board.giveHint 13
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
lt
not
if-goto WHILE_END1
push pointer 0
push local 0
push local 1
call Board.indexOf 3
pop local 2
push local 2
push this 10
add
pop pointer 1
push that 0
push constant 1
eq
push local 2
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
push pointer 0
push local 0
push local 1
call Board.getAdjacentMineCount 3
push constant 0
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push local 1
call Board.hasHiddenSafeNeighbor 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push constant 1
add
pop local 3
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 3
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push local 3
call Random.randInt 2
pop local 4
push constant 0
pop local 5
push constant 0
pop local 1
label WHILE_EXP2
push local 1
push this 1
lt
not
if-goto WHILE_END2
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 0
lt
not
if-goto WHILE_END3
push pointer 0
push local 0
push local 1
call Board.indexOf 3
pop local 2
push local 2
push this 10
add
pop pointer 1
push that 0
push constant 1
eq
push local 2
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
push pointer 0
push local 0
push local 1
call Board.getAdjacentMineCount 3
push constant 0
gt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 0
push local 1
call Board.hasHiddenSafeNeighbor 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 5
push local 4
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push local 0
push local 1
call Board.countHiddenSafeNeighbors 3
pop local 6
push constant 0
push local 6
call Random.randInt 2
pop local 7
push pointer 0
push local 0
push local 1
push local 7
call Board.getNthHiddenSafeNeighbor 4
pop local 8
push local 8
push constant 1
neg
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 8
push this 0
call Maths.mod 2
pop this 7
push local 8
push this 0
call Math.divide 2
pop this 8
push pointer 0
push this 7
push this 8
call Board.reveal 3
pop local 12
push constant 0
not
return
label IF_FALSE6
label IF_FALSE5
push local 5
push constant 1
add
pop local 5
label IF_FALSE4
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE2
push constant 0
pop local 9
push constant 0
pop local 2
label WHILE_EXP4
push local 2
push this 2
lt
not
if-goto WHILE_END4
push local 2
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 2
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
push local 2
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 9
push constant 1
add
pop local 9
label IF_FALSE7
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP4
label WHILE_END4
push local 9
push constant 0
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
push local 9
call Random.randInt 2
pop local 10
push constant 0
pop local 11
push constant 0
pop local 2
label WHILE_EXP5
push local 2
push this 2
lt
not
if-goto WHILE_END5
push local 2
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 2
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
push local 2
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 11
push local 10
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 2
push this 0
call Maths.mod 2
pop this 7
push local 2
push this 0
call Math.divide 2
pop this 8
push pointer 0
push this 7
push this 8
call Board.reveal 3
pop local 12
push constant 0
not
return
label IF_FALSE10
push local 11
push constant 1
add
pop local 11
label IF_FALSE9
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP5
label WHILE_END5
label IF_FALSE8
push constant 0
return
function Board.draw 8
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
lt
not
if-goto WHILE_END1
push pointer 0
push local 0
push local 1
call Board.indexOf 3
pop local 2
push local 2
push this 10
add
pop pointer 1
push that 0
pop local 3
push constant 0
pop local 7
push local 2
push this 12
add
pop pointer 1
push that 0
push local 3
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 7
label IF_FALSE0
push argument 3
push this 17
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 7
label IF_FALSE1
push local 0
push argument 1
eq
push local 1
push argument 2
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 7
label IF_FALSE2
push local 0
push this 13
eq
push local 1
push this 14
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 7
label IF_FALSE3
push local 0
push this 7
eq
push local 1
push this 8
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 7
label IF_FALSE4
push local 0
push this 15
eq
push local 1
push this 16
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 7
label IF_FALSE5
push local 7
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 5
push local 0
push constant 25
call Math.multiply 2
add
pop local 5
push this 6
push local 1
push constant 18
call Math.multiply 2
add
pop local 6
push argument 3
push local 2
push this 9
add
pop pointer 1
push that 0
push constant 1
eq
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
push local 5
push local 6
call Board.drawRevealedTile 3
pop temp 0
push pointer 0
push local 5
push local 6
call Board.drawMineIcon 3
pop temp 0
goto IF_END7
label IF_FALSE7
push local 3
push constant 2
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push local 5
push local 6
call Board.drawHiddenTile 3
pop temp 0
push pointer 0
push local 5
push local 6
call Board.drawFlagIcon 3
pop temp 0
goto IF_END8
label IF_FALSE8
push local 3
push constant 3
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push local 5
push local 6
call Board.drawHiddenTile 3
pop temp 0
push pointer 0
push local 5
push local 6
call Board.drawQuestionIcon 3
pop temp 0
goto IF_END9
label IF_FALSE9
push local 3
push constant 1
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push local 0
push local 1
call Board.getAdjacentMineCount 3
pop local 4
push local 0
push this 7
eq
push local 1
push this 8
eq
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
push local 5
push local 6
push local 4
call Board.drawHintTile 4
pop temp 0
goto IF_END11
label IF_FALSE11
push pointer 0
push local 5
push local 6
call Board.drawRevealedTile 3
pop temp 0
push local 4
push constant 0
gt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
push local 4
push local 5
push local 6
push constant 0
not
call Board.drawNumber 5
pop temp 0
label IF_FALSE12
label IF_END11
goto IF_END10
label IF_FALSE10
push pointer 0
push local 5
push local 6
call Board.drawHiddenTile 3
pop temp 0
label IF_END10
label IF_END9
label IF_END8
label IF_END7
push local 0
push argument 1
eq
push local 1
push argument 2
eq
and
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
push local 5
push local 6
call Board.drawCursor 3
pop temp 0
label IF_FALSE13
push local 2
push this 12
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE6
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push argument 1
pop this 13
push argument 2
pop this 14
push this 7
pop this 15
push this 8
pop this 16
push argument 3
pop this 17
push constant 0
return
function Board.drawHiddenTile 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 24
add
push argument 2
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 1
add
push argument 2
push constant 17
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push argument 2
push constant 15
add
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 22
add
push argument 2
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 4
add
push argument 2
push constant 3
add
push argument 1
push constant 19
add
push argument 2
push constant 3
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 3
add
push argument 2
push constant 4
add
push argument 1
push constant 3
add
push argument 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawRevealedTile 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 24
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 17
add
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 24
add
push argument 2
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawHintTile 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 24
add
push argument 2
push constant 17
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 1
add
push argument 2
push constant 1
add
push argument 1
push constant 23
add
push argument 2
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 2
add
push argument 2
push constant 2
add
push argument 1
push constant 22
add
push argument 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push argument 3
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 3
push argument 1
push argument 2
push constant 0
call Board.drawNumber 5
pop temp 0
label IF_FALSE0
push constant 0
return
function Board.drawFlagIcon 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 7
add
push argument 2
push constant 4
add
push argument 1
push constant 15
add
push argument 2
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 9
add
push argument 2
push constant 6
add
push argument 1
push constant 15
add
push argument 2
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 11
add
push argument 2
push constant 8
add
push argument 1
push constant 15
add
push argument 2
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 15
add
push argument 2
push constant 4
add
push argument 1
push constant 16
add
push argument 2
push constant 13
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 10
add
push argument 2
push constant 13
add
push argument 1
push constant 20
add
push argument 2
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawQuestionIcon 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 10
add
push argument 2
push constant 3
add
push argument 1
push constant 14
add
push argument 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 9
add
push argument 2
push constant 4
add
push argument 1
push constant 10
add
push argument 2
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 14
add
push argument 2
push constant 4
add
push argument 1
push constant 15
add
push argument 2
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 12
add
push argument 2
push constant 6
add
push argument 1
push constant 15
add
push argument 2
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 12
add
push argument 2
push constant 7
add
push argument 1
push constant 13
add
push argument 2
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 12
add
push argument 2
push constant 12
add
push argument 1
push constant 13
add
push argument 2
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawMineIcon 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 12
add
push argument 2
push constant 9
add
push constant 4
call Screen.drawCircle 3
pop temp 0
push argument 1
push constant 12
add
push argument 2
push constant 2
add
push argument 1
push constant 12
add
push argument 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 9
add
push argument 1
push constant 19
add
push argument 2
push constant 9
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 7
add
push argument 2
push constant 4
add
push argument 1
push constant 17
add
push argument 2
push constant 14
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 7
add
push argument 2
push constant 14
add
push argument 1
push constant 17
add
push argument 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawNumber 0
push argument 0
pop pointer 0
push argument 4
call Screen.setColor 1
pop temp 0
push argument 1
push constant 2
eq
push argument 1
push constant 3
eq
or
push argument 1
push constant 5
eq
or
push argument 1
push constant 6
eq
or
push argument 1
push constant 7
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 2
push argument 3
push constant 4
call Board.drawNumberH 4
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
push argument 1
push constant 3
eq
or
push argument 1
push constant 4
eq
or
push argument 1
push constant 5
eq
or
push argument 1
push constant 6
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 2
push argument 3
push constant 8
call Board.drawNumberH 4
pop temp 0
label IF_FALSE1
push argument 1
push constant 2
eq
push argument 1
push constant 3
eq
or
push argument 1
push constant 5
eq
or
push argument 1
push constant 6
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 2
push argument 3
push constant 12
call Board.drawNumberH 4
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
push argument 1
push constant 5
eq
or
push argument 1
push constant 6
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push argument 2
push argument 3
push constant 9
push constant 4
call Board.drawNumberV 5
pop temp 0
label IF_FALSE3
push argument 1
push constant 1
eq
push argument 1
push constant 2
eq
or
push argument 1
push constant 3
eq
or
push argument 1
push constant 4
eq
or
push argument 1
push constant 7
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push argument 2
push argument 3
push constant 15
push constant 4
call Board.drawNumberV 5
pop temp 0
label IF_FALSE4
push argument 1
push constant 2
eq
push argument 1
push constant 6
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push argument 2
push argument 3
push constant 9
push constant 8
call Board.drawNumberV 5
pop temp 0
label IF_FALSE5
push argument 1
push constant 1
eq
push argument 1
push constant 3
eq
or
push argument 1
push constant 4
eq
or
push argument 1
push constant 5
eq
or
push argument 1
push constant 6
eq
or
push argument 1
push constant 7
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push argument 2
push argument 3
push constant 15
push constant 8
call Board.drawNumberV 5
pop temp 0
label IF_FALSE6
push constant 0
return
function Board.drawNumberH 0
push argument 0
pop pointer 0
push argument 1
push constant 10
add
push argument 2
push argument 3
add
push argument 1
push constant 15
add
push argument 2
push argument 3
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawNumberV 0
push argument 0
pop pointer 0
push argument 1
push argument 3
add
push argument 2
push argument 4
add
push argument 1
push argument 3
add
push constant 1
add
push argument 2
push argument 4
add
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawCursor 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 3
add
push argument 2
push constant 3
add
push argument 1
push constant 8
add
push argument 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 3
add
push argument 2
push constant 3
add
push argument 1
push constant 4
add
push argument 2
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 16
add
push argument 2
push constant 3
add
push argument 1
push constant 21
add
push argument 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 20
add
push argument 2
push constant 3
add
push argument 1
push constant 21
add
push argument 2
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 3
add
push argument 2
push constant 13
add
push argument 1
push constant 8
add
push argument 2
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 3
add
push argument 2
push constant 9
add
push argument 1
push constant 4
add
push argument 2
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 16
add
push argument 2
push constant 13
add
push argument 1
push constant 21
add
push argument 2
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 20
add
push argument 2
push constant 9
add
push argument 1
push constant 21
add
push argument 2
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.isMineForDisplay 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Board.isInside 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call Board.indexOf 3
pop local 0
push local 0
push this 9
add
pop pointer 1
push that 0
push constant 1
eq
return
function Board.placeDemoMines 0
push argument 0
pop pointer 0
push constant 1
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 156
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 159
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Board.placeMines 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push constant 0
push this 2
call Random.randInt 2
pop local 1
push local 1
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.isInNeighborhood 2
push argument 0
pop pointer 0
push argument 1
push this 0
call Maths.mod 2
pop local 0
push argument 1
push this 0
call Math.divide 2
pop local 1
push local 0
push argument 2
push constant 2
sub
gt
push local 0
push argument 2
push constant 2
add
lt
and
push local 1
push argument 3
push constant 2
sub
gt
and
push local 1
push argument 3
push constant 2
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Board.clearNeighborhoodMines 7
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push pointer 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 2
push local 3
call Board.indexOf 3
pop local 4
push local 4
push this 9
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 2
call Random.randInt 2
pop local 5
push constant 0
pop local 6
label WHILE_EXP2
push local 6
not
not
if-goto WHILE_END2
push local 5
push this 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 5
label IF_FALSE2
push local 5
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
push pointer 0
push local 5
push argument 1
push argument 2
call Board.isInNeighborhood 4
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 5
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop local 6
label IF_FALSE3
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.getAdjacentMineCount 6
push argument 0
pop pointer 0
push constant 0
pop local 5
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push pointer 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
push local 3
call Board.indexOf 3
pop local 4
push local 4
push this 9
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
push constant 1
add
pop local 5
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 5
return
function Board.expandZeros 9
push argument 0
pop pointer 0
push constant 0
not
pop local 0
label WHILE_EXP0
push local 0
not
if-goto WHILE_END0
push constant 0
pop local 0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push this 1
lt
not
if-goto WHILE_END1
push constant 0
pop local 1
label WHILE_EXP2
push local 1
push this 0
lt
not
if-goto WHILE_END2
push pointer 0
push local 1
push local 2
call Board.indexOf 3
pop local 3
push local 3
push this 10
add
pop pointer 1
push that 0
push constant 1
eq
push local 3
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 1
push local 2
call Board.getAdjacentMineCount 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
pop local 5
label WHILE_EXP3
push local 5
push constant 2
lt
not
if-goto WHILE_END3
push constant 1
neg
pop local 4
label WHILE_EXP4
push local 4
push constant 2
lt
not
if-goto WHILE_END4
push local 4
push constant 0
eq
push local 5
push constant 0
eq
and
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push local 4
add
pop local 6
push local 2
push local 5
add
pop local 7
push pointer 0
push local 6
push local 7
call Board.isInside 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 6
push local 7
call Board.indexOf 3
pop local 8
push local 8
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
push local 8
push this 10
add
pop pointer 1
push that 0
push constant 3
eq
or
push local 8
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 8
push this 10
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop local 0
label IF_FALSE4
label IF_FALSE3
label IF_FALSE2
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP4
label WHILE_END4
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP3
label WHILE_END3
label IF_FALSE1
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
