function Solver.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Solver.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Solver.getMoves 0
push argument 0
pop pointer 0
push this 1
return
function Solver.getGuesses 0
push argument 0
pop pointer 0
push this 2
return
function Solver.getConstraintMoves 0
push argument 0
pop pointer 0
push this 3
return
function Solver.solveStep 1
push argument 0
pop pointer 0
push this 0
call Board.gameWon 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Solver.obviousStep 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 1
add
pop this 1
push local 0
return
label IF_FALSE1
push pointer 0
call Solver.constraintStep 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 1
add
pop this 1
push this 3
push constant 1
add
pop this 3
push local 0
return
label IF_FALSE2
push pointer 0
call Solver.guessStep 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 1
add
pop this 1
push this 2
push constant 1
add
pop this 2
label IF_FALSE3
push local 0
return
function Solver.obviousStep 7
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 0
call Board.getHeight 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
call Board.getWidth 1
lt
not
if-goto WHILE_END1
push this 0
push local 0
push local 1
call Board.getVisibleNumber 3
pop local 2
push local 2
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push local 1
call Solver.countFlaggedNeighbors 3
pop local 3
push pointer 0
push local 0
push local 1
call Solver.countUnknownNeighbors 3
pop local 4
push local 2
push local 3
sub
pop local 5
push local 4
push constant 0
gt
push local 5
push constant 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
push local 1
call Solver.revealOneUnknownNeighbor 3
pop local 6
push local 6
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 6
return
label IF_FALSE2
label IF_FALSE1
push local 4
push constant 0
gt
push local 5
push local 4
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 0
push local 1
call Solver.flagOneUnknownNeighbor 3
pop local 6
push local 6
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 6
return
label IF_FALSE4
label IF_FALSE3
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Solver.constraintStep 18
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 0
call Board.getHeight 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
call Board.getWidth 1
lt
not
if-goto WHILE_END1
push this 0
push local 0
push local 1
call Board.getVisibleNumber 3
pop local 6
push local 6
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push local 1
call Solver.countFlaggedNeighbors 3
pop local 8
push pointer 0
push local 0
push local 1
call Solver.countUnknownNeighbors 3
pop local 10
push local 6
push local 8
sub
pop local 12
push local 10
push constant 0
gt
push local 12
push constant 0
lt
not
and
push local 12
push local 10
gt
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
neg
pop local 5
label WHILE_EXP2
push local 5
push constant 3
lt
not
if-goto WHILE_END2
push constant 2
neg
pop local 4
label WHILE_EXP3
push local 4
push constant 3
lt
not
if-goto WHILE_END3
push local 0
push local 4
add
pop local 2
push local 1
push local 5
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
push local 2
push local 0
eq
push local 3
push local 1
eq
and
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 2
push local 3
call Board.getVisibleNumber 3
pop local 7
push local 7
push constant 1
neg
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 2
push local 3
call Solver.countFlaggedNeighbors 3
pop local 9
push pointer 0
push local 2
push local 3
call Solver.countUnknownNeighbors 3
pop local 11
push local 7
push local 9
sub
pop local 13
push local 11
push local 10
gt
push local 13
push constant 0
lt
not
and
push local 13
push local 11
gt
not
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Solver.countCommonUnknown 5
pop local 14
push local 14
push local 10
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 11
push local 10
sub
pop local 15
push local 13
push local 12
sub
pop local 16
push local 15
push constant 0
gt
push local 16
push constant 0
eq
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push local 2
push local 3
push local 0
push local 1
call Solver.revealOneDifference 5
pop local 17
push local 17
push constant 0
eq
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 17
return
label IF_FALSE7
label IF_FALSE6
push local 15
push constant 0
gt
push local 16
push local 15
eq
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push local 2
push local 3
push local 0
push local 1
call Solver.flagOneDifference 5
pop local 17
push local 17
push constant 0
eq
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 17
return
label IF_FALSE9
label IF_FALSE8
label IF_FALSE5
label IF_FALSE4
label IF_FALSE3
label IF_FALSE2
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP3
label WHILE_END3
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Solver.guessStep 8
push argument 0
pop pointer 0
push this 0
call Board.countUnknownCells 1
push this 0
call Board.getWidth 1
push this 0
call Board.getHeight 1
call Math.multiply 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Board.getWidth 1
push constant 2
call Math.divide 2
pop local 4
push this 0
call Board.getHeight 1
push constant 2
call Math.divide 2
pop local 5
push this 0
push local 4
push local 5
call Board.reveal 3
pop local 7
push local 7
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
return
label IF_FALSE1
push constant 3
return
label IF_FALSE0
push constant 0
pop local 6
push constant 1000
pop local 3
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 0
call Board.getHeight 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
call Board.getWidth 1
lt
not
if-goto WHILE_END1
push this 0
push local 0
push local 1
call Board.isHidden 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 0
push local 1
call Solver.estimateRisk 3
pop local 2
push local 6
not
push local 2
push local 3
lt
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 6
push local 2
pop local 3
push local 0
pop local 4
push local 1
pop local 5
label IF_FALSE3
label IF_FALSE2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 6
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push this 0
push local 4
push local 5
call Board.reveal 3
pop local 7
push local 7
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
neg
return
label IF_FALSE5
push constant 3
return
function Solver.estimateRisk 13
push argument 0
pop pointer 0
push constant 0
pop local 9
push constant 0
pop local 10
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.getVisibleNumber 3
pop local 4
push local 4
push constant 1
neg
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 2
push local 3
call Solver.countUnknownNeighbors 3
pop local 5
push local 5
push constant 0
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 2
push local 3
call Solver.countFlaggedNeighbors 3
pop local 6
push local 4
push local 6
sub
pop local 7
push local 7
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop local 7
label IF_FALSE4
push local 7
push local 5
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 5
pop local 7
label IF_FALSE5
push local 7
push constant 100
call Math.multiply 2
push local 5
call Math.divide 2
pop local 8
push local 9
push local 8
add
pop local 9
push local 10
push constant 1
add
pop local 10
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 10
push constant 0
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 9
push local 10
call Math.divide 2
return
label IF_FALSE6
push this 0
call Board.countUnknownCells 1
pop local 11
push local 11
push constant 1
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 100
return
label IF_FALSE7
push this 0
call Board.getMineCount 1
push this 0
call Board.getFlagCount 1
sub
pop local 12
push local 12
push constant 0
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
pop local 12
label IF_FALSE8
push local 12
push constant 100
call Math.multiply 2
push local 11
call Math.divide 2
return
function Solver.countUnknownNeighbors 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.isHidden 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push constant 1
add
pop local 4
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 4
return
function Solver.countFlaggedNeighbors 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.getVisibleState 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push constant 1
add
pop local 4
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 4
return
function Solver.revealOneUnknownNeighbor 5
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.isHidden 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 2
push local 3
call Board.reveal 3
pop local 4
push local 4
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
return
label IF_FALSE3
push constant 1
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Solver.flagOneUnknownNeighbor 4
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.isHidden 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 2
push local 3
call Board.flag 3
pop temp 0
push constant 2
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Solver.countCommonUnknown 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.isHidden 3
push pointer 0
push local 2
push local 3
push argument 3
push argument 4
call Solver.isNeighborOf 5
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push constant 1
add
pop local 4
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 4
return
function Solver.revealOneDifference 5
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.isHidden 3
push pointer 0
push local 2
push local 3
push argument 3
push argument 4
call Solver.isNeighborOf 5
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 2
push local 3
call Board.reveal 3
pop local 4
push local 4
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
return
label IF_FALSE3
push constant 1
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Solver.flagOneDifference 4
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
pop local 2
push argument 2
push local 1
add
pop local 3
push this 0
push local 2
push local 3
call Board.isInside 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
push local 3
call Board.isHidden 3
push pointer 0
push local 2
push local 3
push argument 3
push argument 4
call Solver.isNeighborOf 5
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 2
push local 3
call Board.flag 3
pop temp 0
push constant 2
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Solver.isNeighborOf 2
push argument 0
pop pointer 0
push argument 1
push argument 3
sub
call Math.abs 1
pop local 0
push argument 2
push argument 4
sub
call Math.abs 1
pop local 1
push local 0
push constant 2
lt
push local 1
push constant 2
lt
and
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
and
return
